<div class="flex flex-col h-full">
  <div class="flex flex-row items-center justify-center">
    <mat-form-field>
      <mat-label>Section</mat-label>
      <mat-select name="locationId" (selectionChange)="filterOrderLocation($event.value)">
        <mat-option [value]="0">All sections</mat-option>
        <mat-option *ngFor="let location of locations" [value]="location.id" style="display: flex; justify-content: space-between; width: 100%;">
          <div class="flex flex-row items-center justify-between w-full">
            {{ location.description }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="grid h-full" style="grid-template-columns: 1fr 2fr;">
    <!-- preparing -->
    <!-- this section contains items that exists, but 'done' is false -->
    <div class="flex flex-col">
        <div class="processingOrdersHeader flex justify-center items-center text-2xl py-4">Preparing</div>
        <div class="processingOrders pt-4">
            <div *ngFor="let item of preparingOrders" class="flex flex-col justify-center items-center align-center text-4xl">
                {{ item.order_number }}
            </div>
        </div>
    </div>

    <!-- ready to pickup -->
    <!-- 'done' is true means ready to pickup -->
    <div class="flex flex-col">
        <div class="doneOrdersHeader flex justify-center items-center text-2xl py-4 mb-2">Ready to Pickup</div>
        <div class="flex flex-col h-full justify-evenly doneOrders">
            <div *ngFor="let item of readyToPickupOrders" class="flex flex-col justify-center items-center align-center text-6xl">
                {{ item.order_number }}
            </div>
        </div>
    </div>
  </div> 
</div>