.controller {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 16px;
}
.greyBorder {
    border: solid 1px lightgrey;
}

mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
    display: none;
}