<mat-toolbar>
    <div class="flex flex-row items-center justify-center" (click)="navigateToHome()">
        <button mat-button>
            <mat-icon>
                arrow_back
            </mat-icon>
            <span>Home</span>
        </button>
    </div>
</mat-toolbar>

<div class="px-4">
  <div>
    <form (ngSubmit)="onSubmit()" class="flex flex-row justify-center align-center items-center gap-10 py-6">
      <mat-form-field>
        <mat-label>Order Number</mat-label>
        <input matInput type="text" [(ngModel)]="orderNumber" name="orderNumber" (keydown.enter)="onEnterOrderNumber()">
      </mat-form-field>

      <mat-checkbox [(ngModel)]="done" name="done">Order is ready to pickup</mat-checkbox>
      
      <mat-form-field>
        <mat-label>Sections</mat-label>
        <mat-select [(ngModel)]="locationId" name="locationId" required>
          <mat-option *ngFor="let location of locations" [value]="location.id" style="display: flex; justify-content: space-between; width: 100%;">
            <div class="flex flex-row items-center justify-between w-full">
              {{ location.id }} - {{ location.description }}
            </div>
          </mat-option>
          <mat-option style="color: rgb(38, 90, 181);" (click)="onCreateLocation()">
            <mat-icon>add</mat-icon>
            Add new section
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      
      <button mat-raised-button color="primary" type="submit" [disabled]="isOrderNumberEmpty() || isLocationEmpty()">Enter</button>
    </form>
  </div>
  <div>
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row items-center">
        <h2>Current Orders: {{allOrders.length}}</h2>
      </div>
      <div class="mb-4">
        <mat-form-field>
          <mat-label>Filter by Location</mat-label>
          <mat-select name="locationId" (selectionChange)="filterOrders($event.value)">
            <mat-option [value]="0">-- None --</mat-option>
            <mat-option *ngFor="let location of locations" [value]="location.id" style="display: flex; justify-content: space-between; width: 100%;">
              <div class="flex flex-row items-center justify-between w-full">
                {{ location.id }} - {{ location.description }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 shadow-none greyBorder">

        <!-- Order Number Column -->
        <ng-container matColumnDef="order_number">
          <th mat-header-cell *matHeaderCellDef> Order Number </th>
          <td mat-cell *matCellDef="let order"> {{order.order_number}} </td>
        </ng-container>
      
        <!-- Location ID Column -->
        <ng-container matColumnDef="location_id">
          <th mat-header-cell *matHeaderCellDef> Section </th>
          <td mat-cell *matCellDef="let order"> {{order.location_description}} </td>
        </ng-container>
      
        <!-- Done Column -->
        <ng-container matColumnDef="done">
          <th mat-header-cell *matHeaderCellDef> Ready </th>
          <td mat-cell *matCellDef="let order">
            <mat-checkbox
              [(ngModel)]="order.done"
              (change)="onDoneChange($event, order)"
              [value]="order.id"
              color="primary"
              [checked]="order.done"
              [disabled]="updatingDoneStatus">
            </mat-checkbox>
          </td>
        </ng-container>
      
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Picked up </th>
          <td mat-cell *matCellDef="let order">
            <!-- Add your actions here, e.g., edit or delete buttons -->
            <button mat-icon-button style="color: green;" (click)="onDeleteOrder($event, order)">
              <mat-icon>done_all</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="100"
      [pageSizeOptions]="[10, 25, 50, 100]"
    >
    </mat-paginator>
  </div>
</div>

